/* CSS that makes chart responsive */
#chart {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#svg-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.svg-content-responsive {
    position: absolute;
    top: 0;
    left: 0;
}
/* CSS that styles the chart */
rect {
  fill: steelblue;
}
rect:hover {
  fill: brown;
}
.axis text {
  font: 14px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
