<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Overview</a>
        <a class="navbar-brand" href="#">Analysis</a>
      </div>
     
    </div>
  </nav>

<div class="row">

<div class="col-6">
  <div class="panel panel-primary"><div class="panel-heading">Exposure</div>
  <div class="panel-body">
    Exposure Panel 
  </div></div>
  <div class="panel panel-primary"><div class="panel-heading">Account Debutors</div>
  <div class="panel-body">
    Account Debutors Panel 
  </div></div>
</div>
<div class="col-6 ">
  <div class="panel panel-primary"><div class="panel-heading">Country Wise Distributions</div>
  <div class="panel-body">
    Country Wise Distributions Panel 
  </div></div>
</div>

</div>
<div class="row">
  <div class="col-4 ">
    <div class="panel panel-primary"><div class="panel-heading">Utilization Trend</div>
    <div class="panel-body">
      Utilization Trend Panel 
    </div></div>
  </div>
  <div class="col-4 ">
    <div class="panel panel-primary"><div class="panel-heading">Past Due</div>
    <div class="panel-body">
      Past Due Panel 
    </div></div>
  </div>
  <div class="col-4 ">
    <div class="panel panel-primary"><div class="panel-heading">Alerts</div>
    <div class="panel-body">
      Alerts Panel 
    </div></div>
  </div>
  </div>
  
</body>
</html>
